<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/selectors.css">
        <link rel="stylesheet" href="jobSearch.css">
        <title>Search best job matches you</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="styles.css">
   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/9b54928ef1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="navigation">
            <form action="/" method="get"><button class="logo" type="submit">Queens site</button></form>
            <div class="quickLinks">
                <a href="#webDesign">Web Design</a>
                <a href="#appDesign">App Design</a>
                <a href="/signup"></a>
            </div>
        </header>
        <script>
            window.addEventListener('scroll', function(){
                const header = this.document.querySelector('header');
                header.classList.toggle("sticky", this.window.scrollY > 10);
            });
        </script>

        <div class="jobWholeScreen">
            <div class="jobLeftSection">
                <h1 class="jobFilterHeading">Filters</h1>
                <div class="jobByLocation">
                    <h1 class="filterHeading">Location</h1>
                    <button class="optionInSelection" onclick="onCheck('Ahmedabad')">Ahmedabad</button>
                    <button class="optionInSelection" onclick="onCheck('Gandhinagar')">Gandhinagar</button>
                    <button class="optionInSelection" onclick="onCheck('Vadodara')">Vadodara</button>
                    <button class="optionInSelection" onclick="onCheck('Surat')">Surat</button>
                </div>

                <!--Space-->
                
                <div class="jobByLocation">
                    <h1 class="filterHeading">Skills</h1>
                    <button class="optionInSelection" onclick="onCheck('Programming')">Programming</button>
                    <button class="optionInSelection" onclick="onCheck('Teaching')">Teaching</button>
                    <button class="optionInSelection" onclick="onCheck('hk')">House keeping</button>
                    <button class="optionInSelection" onclick="onCheck('Cooking')">Cooking</button>
                </div>

                <!--Space-->

                <div class="jobByLocation">
                    <h1 class="filterHeading">Job Type</h1>
                    <button class="optionInSelection" onclick="onCheck('fulltime')">Full time</button>
                    <button class="optionInSelection" onclick="onCheck('parttime')">Part time</button>
                </div>
            </div>

            <!-- Java Script -->
            <script>
                let myCode;
                function onCheck(dataname){
                    // Location
                    if(dataname === "Ahmedabad"){
                        myCode = `<h1 style="margin-top: 1000px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].location==="Ahmedabad"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Gandhinagar"){
                        myCode = `<h1 style="margin-top: 100px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].location==="Gandhinagar"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Vadodara"){
                        myCode = `<h1 style="margin-top: 150px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].location==="Vadodara"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Surat"){
                        myCode = `<h1 style="margin-top: 150px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].location==="Surat"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Programming"){
                        myCode = `<h1 style="margin-top: 1400px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].skill=== "Programming"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Teaching"){
                        myCode = `<h1 style="margin-top: 500px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].skill=== "Teaching"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "Cooking"){
                        myCode = `<h1 style="margin-top: 200px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].skill=== "Cooking"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "fulltime"){
                        myCode = `<h1 style="margin-top: 1500px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].jobType=== "fulltime"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "parttime"){
                        myCode = `<h1 style="margin-top: 300px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].jobType=== "parttime"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }
                    else if(dataname === "hk"){
                        myCode = `<h1 style="margin-top: 100px;" /><% for(var i=0; i < 16; i+=2){%> <% if(data[i].kam=== "hk"){%> <div class="container"> <div class="row"> <div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i].companyName %></p></div><p class="text-muted"><%=data[i].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div><div class="col"> <div class="card mx-auto"> <div class="card-title"> <p class="heading"><%=data[i+1].companyName %></p></div><p class="text-muted"><%=data[i+1].jobTitle %></p><div class="row btnrow my-4"> <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%=data[i].skill %> </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%=data[i].salary %> INR </button></div><div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%=data[i].location %> </button></div></div><div class="row btnsubmit"> <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button> </div></div></div></div></div><%}%> <%}%>`;
                    }


                    document.querySelector(".jobRightSection").innerHTML = myCode;
                }
            </script>




            






            <!-- Details -->

            <div class="jobRightSection">

                <h1 style="margin-top: 2300px;" />

                <% for(var i=0; i < 16; i+=2) { %>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="card mx-auto">
                                <div class="card-title">
                                    <p class="heading"><%= data[i].companyName %></p>
                                </div>
                                <p class="text-muted"><%= data[i].jobTitle %></p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%= data[i].skill %> </button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%= data[i].salary %> INR </button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%= data[i].location %> </button></div>
                                </div>
                                <div class="row btnsubmit">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card mx-auto">
                                <div class="card-title">
                                    <p class="heading"><%= data[i+1].companyName %></p>
                                </div>
                                <p class="text-muted"><%= data[i+1].jobTitle %></p>
                                <div class="row btnrow my-4">
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> <%= data[i].skill %> </button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;"> <%= data[i].salary %> INR </button></div>
                                    <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;"> <%= data[i].location %> </button></div>
                                </div>
                                <div class="row btnsubmit">
                                    <div class="col-md-6 col-6">
                                        <button type="button" class="btn btn-primary btn-lg"><span>Apply Now</span></button>
                                    </div>
                                </div>
                             </div>
                          </div>
                        </div>
                 <% } %>


            </div>
        </div>
    </body>
</html>








 



